@import "tailwindcss";

.nav-item{
    @apply hover:bg-gray-200/80 p-2 rounded-full;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.slide-btn {
  @apply bg-blue-500 p-2 py-3 hover:bg-blue-600 rounded-full text-white
}

